#body{
    margin: 0;
    padding: 0;
}
#header{
    background-color: #0A100D;
    
}
#header a{
    color: #D6D5C9;
    font-family: "Roboto", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#mapasC{
    margin: 2px;
}
#logo{
    max-height: 60px;
    max-width: 60px;
}

#footer{
    background-color: #0A100D;
    top: 100px;
}
.container{
    max-width:840px;
    margin: 0 auto 8px auto;
    text-align: right;
}
#btntwitter{
    width: 50px;
    height: 50px;
}
#btninsta{
    width: 50px;
    height: 50px;
}
#btnfacebook{
    width: 50px;
    height: 50px;
}
#btntwittera{
    background-color: #0A100D;
    border-color: #0A100D;
    color: #D6D5C9;
}
#btninstaa{
    background-color: #0A100D;
    border-color: #0A100D;
    color: #D6D5C9;
}
#btnfacebooka{
    background-color: #0A100D;
    border-color: #0A100D;
    color: #D6D5C9;
}
#bre{
    left: 446px;
}